#---德古拉
#*.color0:      #000000
#*.color1:      #ff5555
#*.color2:      #50fa7b    
#*.color3:      #f1fa8c   
#*.color4:      #bd93f9   
#*.color5:      #ff79c6
#*.color6:      #8be9fd   
#*.color7:      #bbbbbb   
#*.color8:      #44475a   
#*.color9:      #ff5555   
#*.color10:     #50fa7b  
#*.color11:     #f1fa8c
#*.color12:     #bd93f9
#*.color13:     #ff79c6
#*.color14:     #8be9fd
#*.color15:     #ffffff
#*.background:  #282a36
#*.foreground:  #f8f8f2
#-nord
#*.color0:      #3b4252
#*.color1:      #bf616a
#*.color2:      #a3b18c   
#*.color3:      #ebcb8b   
#*.color4:      #81a1c1   
#*.color5:      #b48ead
#*.color6:      #88c0d0   
#*.color7:      #e5e9f0   
#*.color8:      #4c566a   
#*.color9:      #bf616a   
#*.color10:     #a3be8c  
#*.color11:     #ebcb8b
#*.color12:     #81a1c1
#*.color13:     #b48ead
#*.color14:     #8fbcbb
#*.color15:     #eceff4
#*.background:  #d8dee9
#*.foreground:  #2e3440
#-nord-light
#*.color0:      #4c566a
#*.color1:      #bf616a
#*.color2:     #a3be8c
#*.color3:     #ebcb8b
#*.color4:     #81a1c1
#*.color5:     #b48ead
#*.color6:     #8fbcbb
#*.color7:     #eceff4
#*.color8:      #3b4252
#*.color9:      #bf616a
#*.color10:      #a3b18c
#*.color11:      #ebcb8b
#*.color12:      #81a1c1
#*.color13:      #b48ead
#*.color14:      #88c0d0
#*.color15:      #e5e9f0
#*.background:  #d8dee9
#*.foreground:  #2e3440
/*.cursorColor:
/*.termname:  
/*.shell:     
/*.minlatency:
/*.maxlatency:
/*.blinktimeout:
/*.bellvolume:
/*.tabspaces: 
/*.borderpx:  
/*.cwscale:    
/*.chscale:   */

/*dpi调整*/
Xft.dpi: 150
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
